/CCControlColourPickerSpriteSheet.plist
/CCControlColourPickerSpriteSheet.png
/background.png
/button.png
/buttonBackground.png
/buttonHighlighted.png
/green_edit.png
/orange_edit.png
/potentiometerButton.png
/potentiometerProgress.png
/potentiometerTrack.png
/ribbon.png
/sliderProgress.png
/sliderProgress2.png
/sliderThumb.png
/sliderTrack.png
/sliderTrack2.png
/stepper-minus.png
/stepper-plus.png
/switch-mask.png
/switch-off.png
/switch-on.png
/switch-thumb.png
/yellow_edit.png
